@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins;
    color: #0a2ff1;
}
h1{font-size: 67px;}
p{background-color: #eff2ff; display: inline; margin-right: 10px;}
button{background-color: #8a9af1; color: #eff2ff; border: #eff2ff; font-family: Poppins; margin-bottom: 10px; margin-top: 30px; padding: 10px; display: block;}
p, button{font-size: 31px;}
img{display: inline; width: 30%;}
hr{border: 2px solid #0a2ff1;}