@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body{
    font-family: Mulish;
}

h1{font-weight: 700; font-size: 38px; color: #04146c; margin-left: 0%;}
h2{font-weight: bold; font-size: 22px; color: #0a2ff1; display: inline; }
p{font-size: 20px; color: #04146c; width: 40%; margin-top: 0%; margin-bottom: 0%; margin-left: 70px;
}
img{
    vertical-align: middle;
    width: 55px;
    margin-right: 15px;
}