@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}
nav h1,
footer h1 {
  font-family: coiny;
}
nav h1 {
  margin-right: auto;
}
h1 {
  font-size: 64px;
  width: 300px;
}
h1,
strong {
  font-weight: 700;
}

h1 strong {
  font-family: "Coiny", cursive;
  font-size: 117.33px;
}

h2 {
  font-weight: 400;
  font-size: 26.66px;
  width: 450px;
}
h3 {
  font-weight: 900;
  width: 260px;
}
li {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  color: black;
}
h2,
h3 {
  font-size: 20px;
  background-color: #fcee21;
}
footer h1 {
  font-size: 33px;
}
.gestion {
  width: 300px;
}
footer a {
  margin-left: 20px;
  color: #7a7a7a;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav {
  padding: 20px;
}
