@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #edf7ff;
}
h1, h3, h4{
    font-family: 'MuseoModerno', bold, sans-serif;
}

h2, p, li{
font-family: 'Asap';
}
h1,h2,h3{
    color: #0a2ff1;
}
p, ul{
    font-size: 25px;
    color: #04146c;
}
ul{
    font-weight: bold;
}
h1{
    font-size: 118px;
}

h2{
    margin-top: -15px;
    font-size: 52px;
}

h3{
    font-size: 48px;
}
h4{
    font-size: 199px;
    color: #8a9af1;
}